.wrapper {
    // padding: 20px 0 26px 8px;
    width: var(--sidebar-width);
    position: fixed;
    left: 0;
    height: 100vh;
    background-color: var(--dark-primary-color);
    transition: all 0.1s ease-in-out;
}
.logo-img-wrapper {
    width: 100%;
    text-align: center;
    margin: 20px 0 30px;
    height: 50px;
    .logo-img {
        height: 50px;
        height: inherit;
        object-fit: contain;
    }
}

@media (max-width: 991.98px) {
    // .wrapper {
    //     display: none;
    // }
}
