.wrapper {
}

// Order Section
.content-wrapper {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15);
    border-radius: 4px;
    margin-top: 12px;
}
.content-header {
    padding: 16px 20px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-title {
    font-weight: 600;
    font-size: 2rem;
    display: flex;
    align-items: center;
    .icon {
        color: var(--primary-color);
        margin-right: 8px;
    }
    .icon.warning {
        color: #dea043fc;
    }
}
.content-subtitle {
    font-weight: 600;
    color: #555;
}
.content-body {
    padding: 5px 5px;
    height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}
.empty-order-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 20px;
    .empty-order-img {
        width: 300px;
        object-fit: contain;
    }
    .empty-order-title {
        text-align: center;
        margin-top: 20px;
        color: #da4453;
        font-weight: 600;
        font-size: 1.8rem;
    }
}
