.wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    padding-left: var(--sidebar-width);
    min-height: 100vh;
    background-color: #f3f3f9;
    transition: all 0.1s ease-in-out;
}
.content {
    padding: 20px 20px 30px;
}
