.wrapper {
}

// Order Section
.wrapper {
}

.content-wrapper {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15);
    border-radius: 4px;
}
.content-header {
    padding: 16px 20px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-title {
    font-weight: 600;
    font-size: 2rem;
    display: flex;
    align-items: center;
    .icon {
        color: var(--primary-color);
        margin-right: 8px;
        font-size: 2.4rem;
    }
    .icon.warning {
        color: #dea043fc;
    }
}
.sort-btn {
    margin-left: 5px;
    &:hover {
        cursor: pointer;
        opacity: 0.85;
    }
}
.content-subtitle {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #555;
    .icon {
        margin: 0 5px;
        font-size: 2.6rem;
        color: #dea043fc;
        line-height: 1;
        &:hover {
            cursor: pointer;
            opacity: 0.85;
        }
    }
}
.content-body {
    padding: 0 15px 5px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}
.ingredient-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    padding: 15px 30px;
    transition: 0.2s all ease-in-out;
    position: relative;
}
.ingredient-item.inactive {
    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: -5px;
        height: 100%;
        width: 100%;
        background-color: rgb(255 255 255 / 70%);
        pointer-events: none;
        z-index: 100;
    }
}
.ingredient-item + .ingredient-item {
    margin-top: 10px;
}
.ingredient-content {
    display: flex;
    align-items: center;
}
.ingredient-img-wrapper {
    position: relative;
    width: fit-content;
    border-radius: 8px;

    margin-right: 15px;
}
.ingredient-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}
.ingredient-info {
}
.ingredient-name {
    font-weight: 700;
    color: var(--primary-color);
    line-height: 1.2;
    text-overflow: ellipsis;
    font-size: 2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden !important;
    margin-bottom: 4px;
    margin-right: 4px;
}

.ingredient-info {
    span {
        font-weight: 600;
        margin-right: 6px;
    }
    .active {
        color: var(--primary-color);
    }
    .inactive {
        color: #c64141;
    }
}
.ingredient-actions {
    display: flex;
    align-items: center;
    margin-right: 20px;
    .action,
    .edit-btn {
        display: flex;
        align-items: center;
        margin-left: 25px;
        .ingredient-icon {
            margin-left: 4px;
            color: var(--primary-color);
            font-size: 2.2rem;
        }
        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }
    .edit-btn {
        background-color: rgb(41, 199, 199);
        font-size: 2rem;
        padding: 5px;
        border-radius: 10px;
        color: white;
    }
    .delete-btn {
        background-color: rgb(199, 41, 67);
        font-size: 2rem;
        padding: 5px;
        border-radius: 10px;
        color: white;
    }
    .delete-btn {
        display: flex;
        align-items: center;
        margin-left: 25px;
        .ingredient-icon {
            margin-left: 4px;
            color: var(--primary-color);
            font-size: 2.2rem;
        }
        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }
}
// Form
.form-wrapper {
    padding: 20px 30px;
}
.form-title {
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0px 0 10px;
}
.custom-upload {
    border-color: var(--primary-color);
    height: 48.6px;
    margin-bottom: 6px;
}
.custom-select {
    border-color: var(--primary-color);
    height: 48.6px;
    padding: 0 8px;
    font-weight: 700;
    font-size: 1.8rem;
    color: #888;
}
.quantity-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.quantity-select {
    margin: 5px 0;
    margin-left: 8px;
    width: 150px;
    z-index: 1000;
}
.action-btn {
    width: 100%;
    margin-top: 10px;
}
.form-actions {
    margin-top: 20px;
    display: flex;
    justify-content: end;
    .confirm-btn {
        margin-left: 10px;
    }
}
.empty-order-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 20px;
    .empty-order-img {
        width: 300px;
        object-fit: contain;
    }
    .empty-order-title {
        text-align: center;
        margin-top: 20px;
        color: #da4453;
        font-weight: 600;
        font-size: 1.8rem;
    }
}
@media (max-width: 892px) {
    .content-header {
        flex-direction: column;
        gap: 10px;
    }
    .ingredient-item {
        flex-direction: column;
        gap: 10px;
    }
    .ingredient-info {
        span {
            display: none;
        }
        .active {
            display: block;
        }
    }
}
